body{
margin:0;
background:black;
color:#00bfff;
font-family:Arial;
}
#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}
.chat-box{
width:400px;
margin:50px auto;
background:rgba(0,0,0,0.7);
padding:20px;
border-radius:10px;
}
input,button{
width:100%;
padding:10px;
margin-top:10px;
background:black;
color:#00bfff;
border:1px solid #00bfff;
}
