<!DOCTYPE html>
<html>
<head>
<title>Python AI</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div id="particles-js"></div>


<div class="chat-box">
<h1>🤖 Python AI</h1>
<div id="chat"></div>
<input id="msg" placeholder="Type here..." />
<button onclick="send()">Send</button>
</div>


<script src="/static/particles.js"></script>
<script>
function send(){
let msg = document.getElementById("msg").value;
fetch("/chat",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({message:msg})
})
.then(res=>res.json())
.then(data=>{
document.getElementById("chat").innerHTML += `<p><b>You:</b> ${msg}</p>`;
document.getElementById("chat").innerHTML += `<p><b>Python:</b> ${data.reply}</p>`;
})
}
</script>
</body>
</html>
